extends ../layouts/common.pug

block content
	h1 New Transfer

	form(method="POST")
		input(type="hidden", name="_csrf", value=csrfToken)
		.form-group
			label(for="account") Acount
			input.form-control#account(name="accountId", type="text")

		.form-group
			label(for="amount") Amount
			input.form-control#amount(name="amount", type="number")

		button.btn.btn-primary Transfer

